.empty-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* Add padding for spacing */
    /* Remove height and overflow properties */
}

.data-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Add padding for spacing */
    /* Remove height and overflow properties */
}